@font-face {
  font-family: "Biennale Regular";
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Biennale/Fontspring-DEMO-biennale-light.otf') format('opentype');
}

@font-face {
  font-family: "Biennale Bold";
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Biennale/Fontspring-DEMO-biennale-light.otf') format('opentype');
}

@font-face {
  font-family: "Biennale Light";
  font-style: normal;
  font-weight: lighter;
  src: url('../assets/fonts/Biennale/Fontspring-DEMO-biennale-light.otf') format('opentype');
}
