<div class="container-header">
  <img src="../assets/logo.svg" alt="Logo Devaria" class="logo" />
  <button class="btn-add" (click)="abrirModalAdicionarTarefa()">
      <span class="plus">
          +
      </span>
      <span class="add-task-text">
          Adicionar tarefa
      </span>
  </button>
  <div class="user-info">
      <span class="user-name">
          Olá,
          {{usuarioLogado?.nome}}
      </span>
      <button class="btn-logout" (click)="deslogar()"></button>
  </div>
</div>
